<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1565043666747-69f6646db940?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80); object-fit:cover;">
  <div class="container">
    <h1><strong>Quick, Easy, Reliable</strong></h1>
    <br>
    <h1><strong>car renting service</strong></h1>
    <br>
    <h1><strong>in Mauritius</strong></h1>
    <br>
    <a class="btn btn-flat btn-banner btn-lg" href="/cars"><strong>View Catalogue</strong></a>
  </div>
</div>
